/* styles.css */

*{
    font-family: "Courier New", monospace;
    /* border: 1px black solid; */
}

.title-block{
    display: block;
    text-align: center;
    margin: 25px 10px 5px 10px;
    font-family: Georgia, serif;
}

.title,
.subtitle {
    font-family: Georgia, serif;
}

.content{
    box-sizing: border-box;
    margin-left: 15%;
    margin-right: 7%;
    padding: 0px 25px 25px 25px;
}

h1{
    color: darkslategray;
}

h2{
    color: darksalmon;
}

#emphasis{
    font-weight: bold;
    color: rgb(70, 117, 94);
    font-style: italic;
    font-family: Georgia, serif;
}

.page-border{
    border: 3px solid;
    border-color: rgb(70, 117, 94);
}

.sub-heading{
    padding: 5px;
    text-align: center;
    font-size: 14px;
}